.lead__image{
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin:0;
}

@media screen and (max-width: 1024px){
    .lead__image{
        max-width: 928px;
        margin: 0;
    }
}

@media screen and (max-width: 425px){
    .lead__image{
        margin: 40px 0 0;
    }
}
