.cover__background{
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("../../../images/__background.jpg");
    position: relative;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    justify-content: center;
}

.cover__background::before{
    background: #2a2c2f;
    opacity: 0.3;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover__background:hover::before{
    opacity: 0.8;
}

@media screen and (max-width: 1024px){
    .cover__background{
        min-height: 640px;
        margin: 92px 0 92px;
    }
}

@media screen and (max-width: 768px){
    .cover__background{
        min-height: 480px;
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 320px){
    .cover__background{
        min-height: 200px;
        margin: 66px 0 64px;
    }
}